.worktrees/
.assets
.docs
.env
*.pyc
dist/
build/
*.egg-info/
*.egg
*.pycs
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log
nano.*.save
.DS_Store
uv.lock

# 1. 忽略 .nanobot 文件夹下的所有内容
.nanobot/*

# 2. 允许进入 workspace 目录（这是关键，否则 Git 不会往下看）
!.nanobot/workspace/

# 3. 再次忽略 workspace 目录下的所有内容
.nanobot/workspace/*

# 4. 排除（即跟踪）你想保留的文件和子目录
!.nanobot/workspace/skills/




